/* 

these are the colors used in the example
***you can use them if you'd like or you can choose your own***

black - rgb(37, 37, 37)
blue - rgb(42, 171, 226)
shadow - rgba(102, 75, 75, .3)
white - rgb(255, 255, 255) (default value) 

the font is called 'nunito' and can be found on google fonts
***you can use it if you'd like or you can choose your own***

*/
body{
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    width: 300px;
    color: white;
    font-size: 13px;
}

header{
    width: 100vw;
    position: fixed;
    height: 45px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    z-index: 1;
}

main{
    width: 100vw;
    position: relative;
}

h1 {
    color: rgb(42, 171, 226);
    font-size: 20px;
}

.question-mark{
    background-color: rgb(42, 171, 226);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2px solid black;
    position: fixed;
    bottom: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 2;
}
.question-mark p{
    font-size: 14px;
}

.main-content-container{
    display: flex;
}

.left-side{
    width: 50vw;
    margin-top: 80px;
    margin-left: 60px;
    /* border: 1px solid black; */
}

.right-side{
    width: 33vw;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 550px;
}
.right-side .user-info{
    height: 205px;
    width: 200px;
    border-radius: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 30px lightgray;
}

.user-info img{
    height: 130px;
    width: 130px;
    margin-top: 10px;
    margin-bottom: -15px;
}

.user-info p{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: px;
}

.popular-articles{
    box-shadow: 0 0 30px lightgray;
    border-radius: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 290px;
    width: 200px;
}
.popular-articles h2{
    font-size: 16px;
    margin: 0 auto;
    margin-bottom: -40px;
}

.article-list{
    color: black;
    font-size: 12.5px;
    line-height: 22px;
    margin-bottom: 0;
}

.group-2{
    height: 300px;
}

.group-2 h4{
    font-size: 14px;
}

.group-2 p{
    font-size: 10px;
    color: rgb(42, 171, 226);
    float: right;
}
.image-gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    
}

.image-gallery img{
    height: 90px;
}

footer{
    width: 100%;
    height: 40px; 
    background-color: rgb(42, 171, 226);
    display: flex;
    align-items: center;
}

.footer-text{
    font-size: 13px;
    margin-left: 10px;
}

#page-container {
    position: relative;
    min-height: 100vh;
  }
  
  #content-wrap {
    padding-bottom: 40px;    /* Footer height */
  }